.m-message-before-submit-quiz {
    padding: 20px;
}

h3 {
    margin-bottom: 15px;
}

.bottom__controls {
    text-align: right;
}

.bottom__controls button {
    margin-left: 5px;
}

.success {
    color: green;
}

.fail {
    color: red;
}

.in-progress,
.in-progress button {
    cursor: progress;
}


svg {
    transform: translateY(-1px) translateX(-2px);
    width: 15px;
    height: 15px;
}
g {
    animation: rot 5s linear infinite;
}
circle {
    fill: none;
    stroke: #ffffff;
    stroke-width: 20;
    animation: ani 2s linear infinite reverse,
    rot 8s steps(4, start) infinite reverse;
}
@keyframes ani {
    0% {
        stroke-dasharray: 378 503;
        stroke-dashoffset: 0;
        animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    }
    49.999% {
        stroke-dasharray: 0 503;
        stroke-dashoffset: 0;
    }
    50.001% {
        stroke-dasharray: 0 503;
        stroke-dashoffset: -503;
        animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    100% {
        stroke-dasharray: 378 503;
        stroke-dashoffset: -125;
    }
}
@keyframes rot { to { transform: rotate(1turn); } }

.unselected-question {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}