.fa-plus-square-o,
.fa-minus-square-o {
    font-size: 18px;
    transform: scale(1.3) translateY(2px) translateX(1px);
    cursor: pointer;
}

.top-controls {
    padding-top: 5px;
    padding-left: 15px;
    display: flex;
    padding-right: 15px;
}

.bottom-controls {
    padding-left: 15px;
    margin-top: -10px;
    padding-bottom: 20px;
}
.c-event-results.is-loading,
.c-event-results.is-loading button {
    cursor: progress !important;
}

.c-event-results.is-loading .content {
    opacity: .7;
}

input[type=number] {
    color: #0288D1 !important;
}

input[type=number].was-changed {
    border:  1px solid #0288D1;
}

input[type=number].has-changes {
    border:  1px solid #8bc34a !important;
}

.btn__team-report {
    padding: 0.05rem 0.4rem;
}

.do-rotate {
    animation: 1s linear 0s normal none infinite running do-rotate;
}

@keyframes do-rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}