<div class="c-events-list">
    <section class="content-header">
        <h1>Events List</h1>
    </section>

    <div class="content">
         <div class="box">
             <div class="box-body">

                <!-- Search -->
                <form action="javascript:void(0);" (submit)="doSearch()">
                    <div class="form__search-box" [ngClass]="{'advanced-filter': advanced_filters}">
                        <div class="form__search-box__common clearfix">
                            <input class="form-control" type="text" name="common_search" [(ngModel)]="criteria.preFilter['common']" placeholder="Search..." >
                            <button class="btn btn-secondary">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                            <a href="javascript:void(0);" (click)="toggleAdvancedFilter()" class="form__search-box__advanced-btn">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                Advanced Search
                            </a>
                        </div>

                        <!-- Advanced Search -->
                        <div class="form__advanced-search-box">
                            <div class="form__advanced-search-box__body clearfix d-inline-block">

                                <div class="form__advanced-search-box__item clearfix">
                                    <div class="form__advanced-search-box__label">Name</div>
                                    <div class="form__advanced-search-box__field">
                                        <input class="form-control" type="text" autocomplete="off" [(ngModel)]="criteria['preFilter']['name']" name="name">
                                    </div>
                                </div>


                                <div class="form__advanced-search-box__item clearfix">
                                    <div class="form__advanced-search-box__label">Event Date From</div>
                                    <div class="form__advanced-search-box__field">
                                        <wo-datepicker [(ngModel)]="criteria['preFilter']['event_date_from']" name="cdate_from"></wo-datepicker>
                                    </div>
                                    </div>

                                    <div class="form__advanced-search-box__item clearfix">
                                    <div class="form__advanced-search-box__label">Event Date To</div>
                                    <div class="form__advanced-search-box__field">
                                        <wo-datepicker [(ngModel)]="criteria['preFilter']['event_date_to']" name="cdate_to"></wo-datepicker>
                                    </div>
                                </div>

                                <div class="form__advanced-search-box__item clearfix">
                                    <div class="form__advanced-search-box__label">Status</div>
                                    <div class="form__advanced-search-box__field">
                                        <select class="form-control" name="status" [(ngModel)]="criteria['preFilter']['status']">
                                            <option value="">All</option>
                                            <option [value]="0">Active</option>
                                            <option [value]="1">Deleted</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="form__advanced-search-box__controls">
                                <button class="btn btn-primary">Apply Filter</button>
                                <button (click)="resetFilter($event)" class="btn btn-default">Reset Filter</button>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="c-groups__top_buttons btn-group">
                    <a class="btn btn-secondary" routerLink="./new" routerLinkActive="active">Add New</a>
                </div>

                <!-- Table List -->
                <div [ngClass]="{'box-loading': loading}">
                    <table class="table table-bordered table-condensed table-striped table-hover table-sm">
                        <thead>
                            <tr>
                                <th style="width: 250px;">
                                    <wo-sort [woSortActive]="criteria['sort']" woSortStart="name" (sort)="sortBy($event)">Name</wo-sort>
                                </th>
                                <th>
                                    <wo-sort [woSortActive]="criteria['sort']" woSortStart="description" (sort)="sortBy($event)">Description</wo-sort>
                                </th>
                                <th style="width: 120px; text-align: center;">
                                    Status of Quiz
                                </th>
                                <th style="width: 100px;">
                                    <wo-sort [woSortActive]="criteria['sort']" woSortStart="event_date" (sort)="sortBy($event)">Event Date</wo-sort>
                                </th>
                                <th style="width: 98px; white-space: nowrap;">
                                    <wo-sort [woSortActive]="criteria['sort']" woSortStart="event_time_start" (sort)="sortBy($event)">Time Start</wo-sort>
                                </th>
                                <th style="width: 98px; white-space: nowrap;">
                                    <wo-sort [woSortActive]="criteria['sort']" woSortStart="event_time_end" (sort)="sortBy($event)">Time End</wo-sort>
                                </th>
                                <th style="width: 80px;">
                                    <wo-sort [woSortActive]="criteria['sort']" woSortStart="status" (sort)="sortBy($event)">Status</wo-sort>
                                </th>
                                <th style="width: 80px; text-align: center;">Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let row of rows">
                                <td class="td-link" (click)="toProfile(row.id)">{{row['name']}}</td>
                                <td class="td-link" (click)="toProfile(row.id)">{{row['description']}}</td>
                                <td class="td-link">
                                    <div class="table__button-groups btn-group">
                                        <a
                                            *ngIf="row['event2quiz']['status'] === 0 || row['event2quiz']['status'] === 2 || row['event2quiz']['status'] === 3"
                                            (click)="doChangeQuizStatus(1, row)"
                                            href="javascript:;"
                                            class="btn btn-outline-secondary"
                                            title="Play"
                                            [class.btn-outline-secondary]="row['event2quiz']['status'] !== 2"
                                            [class.btn-outline-primary]="row['event2quiz']['status'] === 2"
                                            [class.disabled]="row['event2quiz']['status'] === 3"
                                        >
                                            <i class="fa fa-play"></i>
                                        </a>
                                        <a
                                            *ngIf="row['event2quiz']['status'] === 1"
                                            (click)="doChangeQuizStatus(2, row)"
                                            href="javascript:;"
                                            class="btn btn-outline-primary"
                                            title="Pause"
                                        >
                                            <i class="fa fa fa-pause"></i>
                                        </a>
                                        <a
                                            (click)="doChangeQuizStatus(0, row, true)"
                                            href="javascript:;"
                                            [class.disabled]="row['event2quiz']['status'] === 0 || row['event2quiz']['status'] === 3"
                                            class="btn btn-outline-secondary"
                                            title="Restart"
                                        >
                                            <svg style="transform: scale(1.1) translateY(-2px);" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 5V1L7 6l5 5V7c3.31 0 6 2.69 6 6s-2.69 6-6 6-6-2.69-6-6H4c0 4.42 3.58 8 8 8s8-3.58 8-8-3.58-8-8-8z"/></svg>
                                        </a>
                                        <a
                                            (click)="doChangeQuizStatus(3, row)"
                                            href="javascript:;"
                                            [class.btn-outline-secondary]="row['event2quiz']['status'] !== 3"
                                            [class.btn-outline-primary]="row['event2quiz']['status'] === 3"
                                            [class.disabled]="row['event2quiz']['status'] === 3"
                                            class="btn "
                                            title="Finish"
                                        >
                                            <i class="fa fa-flag"></i>
                                        </a>
                                        <a
                                            *ngIf="row['scoreboard'] !== null"
                                            href="javascript:;"
                                            class="btn btn-outline-secondary"
                                            [class.btn-outline-secondary]="row['scoreboard']['show_final_results'] !== 1"
                                            [class.btn-outline-success]="row['scoreboard']['show_final_results'] === 1"
                                            title="Show/Hide Results on Scoreboard"
                                            (click)="doToggleShowFinalResult(row)"
                                            [class.disabled]="row['event2quiz']['status'] !== 3"
                                        >
                                            <i class="fa fa-list-ol"></i>
                                        </a>
                                    </div>
                                </td>
                                <td class="td-link" (click)="toProfile(row.id)">{{row['event_date'] | date}}</td>
                                <td class="td-link" (click)="toProfile(row.id)">{{row['event_time_start'] | ConvertFrom24To12Format}}</td>
                                <td class="td-link" (click)="toProfile(row.id)">{{row['event_time_end'] | ConvertFrom24To12Format}}</td>
                                <td class="td-link" (click)="toProfile(row.id)">
                                    {{STATUS_LABELS[row['status']]}}
                                </td>
                                <td>
                                    <div class="table__button-groups btn-group">
                                        <a [routerLink]="['./', row.id]" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Edit">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a href="javascript:;" (click)="doDelete(row)" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="rows.length == 0" class="disabled">
                                <td colspan="8">{{loading ? 'Loading ...' : 'No matching records found'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <wo-paginator *ngIf="last_page>1" [last]="last_page" [current]="curr_page" (changePage)="toPage($event)"></wo-paginator>
            </div>
        </div>
    </div>
</div>