.c-my-profile {
    width: 700px;
    margin: 0 auto;
    border: 1px solid #d4d4d5;
    margin-top: 25px;
    border-radius: 4px;
    overflow: hidden;
}

.content-header {
    background: #f0f0f0;
    padding: 8px 0;
    border-bottom: 1px solid #d4d4d5;
}

.content-header h1 {
    margin: 0 0 0 250px;
    font-size: 22px;
    font-weight: bold;
}

.form {
    padding: 20px 0 0 0;
}

.form-label {
    width: 250px;
    text-align: right;
    padding-top: 9px;
    box-sizing: border-box;
    padding-right: 10px;
    font-weight: bold;
    font-size: 13px;
}

.form-label.required:after {
    margin: -2px 0 0 1px;
    content: '*';
    display: inline-block;
    color: #db2828;
    transform: translateY(-4px);
}

.form-row {
    padding-bottom: 20px;
    display: inline-flex;
}

.form-field input[type=text],
.form-field input[type=password] {
    width: 300px;
}