<div class="c-password-reset" *ngIf="isLoading === false && isError === false">
    <section class="content-header">
      <h1>Password Reset</h1>
    </section>

    <div class="form" >
        <form action="javascript:void(0);" (ngSubmit)="doSubmit()">
            <div class="form-row">
                <div class="form-field">
                    <input class="form-control" type="password" name="resetPassword[password]" [ngClass]="{'hasError': formErrors['password']}" [(ngModel)]="dataForm['password']" placeholder="Password">
                </div>
                <div [ngClass]="{show: formErrors['password']}" class="label-error">
                    {{formErrors['password']}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <input class="form-control" type="password" name="resetPassword[password_repeat]" [ngClass]="{'hasError': formErrors['password_repeat']}" [(ngModel)]="dataForm['password_repeat']" placeholder="Password Repeat">
                </div>
                <div [ngClass]="{show: formErrors['password_repeat']}" class="label-error">
                    {{formErrors['password_repeat']}}
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">
                    Password reset
                </button>
            </div>
        </form>
    </div>
</div>

<div *ngIf="isError === true" class="c-invite-not-found">
    <div class="c-invite-not-found__content">
        <div class="c-invite-not-found__title">
            <i class="fa fa-frown-o" aria-hidden="true"></i>
        </div>
        <div class="c-invite-not-found__content-error">
            <h3><i class="fa fa-warning"></i> Oops! Invalid link.</h3>
            <p class="c-invite-not-found__content-body">
                We could not find the token key you were looking for. <br>
                Meanwhile, you may <a routerLink="/">return to main page</a>.
            </p>
        </div>
    <div>
</div>