.c-invite-not-found__content {
    padding: 20px;
    width: 450px;
    margin: 100px auto 0;
    overflow: hidden;
}

.c-invite-not-found__title {
    color: #f39c12;
    float: left;
    font-size: 96px;
}

.c-invite-not-found__content-error {
    margin-left: 100px;
}

.c-invite-not-found__content-error .fa {
    color: #f39c12;
}

.label-error {
    color: red;
}