<div class="c-request-password-reset">
    <section class="content-header">
      <h1>Request Password Reset</h1>
    </section>

    <wo-flash></wo-flash>

    <div class="form">
        <form action="javascript:void(0);" (ngSubmit)="doSubmit()">
            <div class="form-note">
                Please fill out your email. <br>
                A link to reset your password will be sent there.
            </div>

            <div class="form-row">
                <div class="form-label required">
                    Email
                </div>
                <div class="form-field">
                    <input class="form-control" [ngClass]="{'hasError': formErrors['email']}" [(ngModel)]="dataForm['email']" type="text" name="reset[email]">
                    <div [ngClass]="{show: formErrors['email']}" class="label-error">
                        {{formErrors['email']}}
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-label"></div>
                <button class="btn btn-primary" type="submit">
                    Request password reset
                </button>
            </div>

            <div class="form-row">
                <div class="form-label"></div>
                <a routerLink="/login">Back to login</a>
            </div>
        </form>
    </div>
</div>