.form-row {
    overflow: hidden;
    padding: 5px;
    padding-bottom: 10px;
}

.form-row__label {
    float: left;
    padding-top: 6px;
    width: 140px;
    text-align: right;
    padding-right: 10px;
    white-space: nowrap;
}

.form-row__field {
    float: left;
}

.form-row__field input[type=text],
.form-row__field input[type=password],
.form-row__field select {
    width: 220px;
}

.password-group {
    padding-top: 20px;
}

.controls-group {
    padding-top: 10px;
}

.hasError input[type=text],
.hasError input[type=password] {
    border-color: #dd4b39;
    box-shadow: none;
}

.content-header {
    display: inline-block;
}

.box2 {
    text-align: center;
    border-top: 1px solid #dedede;
    margin-top: 8px;
}

.box-body {
    display: inline-block;
}

.box2 wo-flash {
    margin: 5px 5px 0 5px;
    display: block;
}