::ng-deep app-root.no-logged .l-right {
    opacity: 0;
}

::ng-deep app-root.no-logged .app-wrapper::before {
    opacity: 0;
}

.v-nav__header {
    color: rgba(255, 255, 255, 0.4);
    background: #1a2226;
    position: relative;
    font-size: 12px;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}



.app-wrapper::before {
    -webkit-transition: width .4s;
    transition: width .4s;
    content: '';
    top: 0;
    left: 0;
    background: #222d32;
    width: 220px;
    position: absolute;
    bottom: 0;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.4), 0 4px 5px 0 rgba(0, 0, 0, 0.28), 0 1px 10px 0 rgba(0, 0, 0, 0.24);
}

wo-breadcrumbs {
    float: right;
    position: relative;
    top: 22px;
    right: 15px;
    z-index: 3;
}

.l-header {
    background: #2196F3;
    min-height: 50px;
    -webkit-box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0,0,0,.12);
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0,0,0,.12);
    position: relative;
    z-index: 5;
}

.l-header app-user-menu {
    float: right;
    margin-right: 10px;
    margin-top: 8px;
}

.l-header__logo {
    float: left;
    width: 220px;
    height: 50px;
    text-align: center;
    -webkit-transition: width .4s;
    transition: width .4s;
    background: #1976D2;
    overflow: hidden;
}

.l-header__logo a {
    text-decoration: none;
    height: 100%;
    line-height: 50px;
    color: #fff;
    width: 100%;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
}



.l-header__logo a:hover {
    background: #1976D2;
}

.l-header__logo a.short-logo {
    display: none;
}

.l-right {
    -webkit-transition: width .4s;
    transition: width .4s;
    width: 220px;
    float: left;
    overflow: hidden;
}

.l-main {
    display: block;
    margin-left: 220px;
    -webkit-transition: margin-left .4s;
    transition: margin-left .4s;
}

.l-right .treeview {
    white-space: nowrap;
}


.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-menu > li {
    position: relative;
    margin: 0;
    padding: 0;
}

.sidebar-menu > li > a {
    border-left: 3px solid transparent;
}

.sidebar-menu a {
    color: #b8c7ce;
    text-decoration: none;
}

.sidebar-menu > li > a {
    padding: 12px 5px 12px 13px;
    display: block;
}

.sidebar-menu > li:hover > a,
.sidebar-menu > li.active > a {
    color: #fff;
    background: #1e282c;
    border-left-color: #2196F3;
    position: relative;
    z-index: 2;
}


::ng-deep .sidebar-compact .l-right {
    overflow: inherit;
}

::ng-deep .sidebar-toggle {
    display: block;
    text-decoration: none;
    color: #fff;
    float: left;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    cursor: pointer;
}

::ng-deep .sidebar-toggle:hover,
::ng-deep .sidebar-compact .sidebar-toggle {
    background-color: #1976D2;
    color: #fff;
    text-decoration: none;
}

::ng-deep .sidebar-compact .l-right,
::ng-deep .sidebar-compact .app-wrapper::before {
    width: 50px;
}

::ng-deep .sidebar-compact .l-right .treeview a span {
    display: none;
}

::ng-deep .sidebar-compact .l-right .treeview:hover {
    position: relative;
    min-width: 220px;
    z-index: 1;
}

::ng-deep .sidebar-compact .l-right .treeview:hover a span {
    display: inline-block;
    padding-left: 10px;
}

::ng-deep .sidebar-compact .v-nav__header {
    font-size: 0;
    color: transparent;
}

::ng-deep .sidebar-toggle::before {
    content: "\f0c9";
    font-family: FontAwesome;
}

::ng-deep .sidebar-compact .l-main {
    margin-left: 50px;
}

::ng-deep .sidebar-compact .long-logo {
    display: none;
}

::ng-deep .sidebar-compact .l-header__logo a.short-logo {
    display: inline-block !important;
}

::ng-deep .sidebar-compact .l-header__logo {
    width: 50px;
}

::ng-deep .sidebar-menu>li>a>.fa {
    width: 25px;
}